* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Baloo Chettan 2', cursive;
}
#root {
    background: #192a56;
    min-height: 70vh;
}
.stopwatch-block {
    margin-top: 2%;
}
.intro {
    text-align: center;
}
/* Utilities */
.mt {margin-top: 5%;}
.mt-1 {margin-top: 7%}
/* .mt-2 {margin-top: 10%} */
.mt-4 {margin-top: 10%}
.mt-6 {margin-top: 20%}
.lg-text {
    font-size: 120px;
    color: aliceblue;
    text-align: center;
}
.md-text {
    font-size: 50px;
    color: aliceblue;
}
.buttons {
    margin-left: 41%;
}

.buttons > button:hover {
    transform: scale(1.08);
}

.buttons > button:first-child:hover {
    color: #ff0000;
}

.buttons > button:nth-child(2):hover {
    color: #00ff00;
}

.buttons > button:nth-child(3):hover {
    color: #0059ff;
}

.green {
    color: #00ff00;
}

.red{
    color: #ff0000;
}

button {
    margin: 0 10px;
    background-color: #192a56;
    border-radius: 30px;
    height: 60px;
    width: 60px;
    color: aliceblue;
    font-size: 20px;
    font-weight: 300;
    outline: none;
    border: 2px solid aliceblue;
    transition: all .3s ease-in-out;
}
footer p, a {
    color: aliceblue;
    font-size: 22px;
}
footer {
    margin-left: 43%;
}

@media screen and (max-width: 576px) {
    .lg-text {
        font-size: 63px;
    }
    .mt-4 {
        margin-top: 30%;
    }
    .intro {
        font-size: 28px;
    }
    .buttons {
        margin-left: 30%;
        margin-top: 7%;
    }
    button {
        height: 32px;
        width: 32px;
        border-radius: 32px;
        font-size: 14px;
        border: 1px solid;
    }
    .mt-1 {
        margin-top: 53%;
    }
    footer {
        margin-left: 32%;
    }
    footer p, a {
        font-size: 18px;
    }
}